__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.ipynb_checkpoints/
.venv/
.venv*/
venv/

results/
outputs/
logs/

*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
!figures/brainwave_auth.pdf
!docs/static/pdfs/NeuroShield_Paper_arXiv.pdf
